* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background: #f6f6f6;
  padding-bottom: 80px;
}

/* App Bar */
.app-bar {
  font-family: "Segoe UI", sans-serif;
  background: #1f3b5b;
  padding: 10px 14px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back{
  position: absolute;
  left: 14px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 18px;
  font-weight: 600;
  /* gap: 10px; */
}

.app-bar img {
  width: 20px;
  height: 20px;
}

/* Menu Card */
.menu-card {
  margin: 16px;
  background: #fff;
  border-radius: 14px;
  border: 1px solid #999;
  padding: 18px;
  font-family: "Inknut Antiqua", sans-serif;

}

/* Section Title */
.section-title {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 16px;
  color: #000;
  
}

a {
  text-decoration: none;
  color: inherit;
}

/* Menu Groups */
.menu-group {
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 18px;
  
}

/* Academics */
.academics {
  background: #0f2f46;
  color: #fff;
}

/* System */
.system {
  background: #aeb6c3;
  color: #111;
}

/* Account */
.account {
  padding: 0;
}

/* Menu Items */
.menu-item {
  padding: 2px;
  font-size: 15px;
  cursor: pointer;
}

.menu-item:not(:last-child) {
  margin-bottom: 6px;
}

/* Logout */
.logout {
  background: #ffb3b3;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
}

/* Bottom Nav */
    .bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #eee;
      display: flex;
      justify-content: space-around;
      padding: 1px 0;
      border-top: 1px solid #ccc;
    }

    .nav-item {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
      cursor: pointer;
      padding: 5px;
      font-size: 13px;
      color: #333;
      transition: background-color 0.2s;
    }

    /* .nav-item:hover {
      background-color: rgba(0, 0, 0, 0.05);
    } */

    .nav-item.active {
      color: #1f3b5b;
      font-weight: 600;

    }

    .nav-icon {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 24px;
      height: 24px;
      font-size: 20px;
    }