 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0; 
    }

    body {
      background: #f8fafc;
      padding-bottom: 80px;
    }

    /* Top Bar */
    .top-bar {
      background: #1f3b5b;
      color: #fff;
      padding: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Inknut Antiqua", sans-serif;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 4px;
      font-size: 13px;
    }

    .user-icon{
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .user-icon img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .calendar {
      display: flex;
      background: none;
      border: none;
      cursor: pointer;
      padding: 4px;
    }

    .calendar-img{
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .calendar-img img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    /* Attendance Card */
    .attendance-card {
      margin: 16px;
      border-radius: 12px;
      overflow: hidden;
      background: #fbffd9;
    }

    .card-header {
      background: #1f3b5b;
      color: #fff;
      padding: 12px;
      font-size: 14px;
      font-weight: bold;
      font-family: "Inknut Antiqua", sans-serif;
    }

    .card-body {
      display: flex;
      padding: 16px;
      gap: 16px;
      font-family: "Roboto", sans-serif;
    }

    /* Progress Circle */
    .progress-circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: conic-gradient(
        #6db783 0% 79%,
        #e5f2df 79% 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      color: #2f4f3a;
    }

    /* Info */
    .attendance-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: "Roboto", sans-serif;
    }

    .badge {
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
    }

    .success {
      background: #6db783;
      color: #0f3d25;
      text-align: center;
      font-weight: 600;
    }

    .warning {
      background: #fff59d;
      color: #000;
    }

    /* Section Title */
    .section-title {
      margin: 16px;
      font-size: 20px;
      font-weight: bold;
      font-family: "Inknut Antiqua", sans-serif;
    }

    /* Class Cards */
    .class-card {
      background: #fff;
      margin: 12px 16px;
      padding: 14px;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ddd;
    }

    .class-card h3 {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
    }

    .class-card p {
      font-size: 13px;
      color: #555;
      font-family: "Roboto", sans-serif;
    }

    .time {
      margin-top: 4px;
    }

    .status {
      padding: 6px 14px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
    }

    .present {
      background: #6db783;
      color: #0f3d25;
    }

    .absent {
      background: #f8a5a5;
      color: #7a1c1c;
    }

    .pending {
      background: #fff59d;
      color: #6b5e00;
    }

    /* Bottom Nav */
    .bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #eee;
      display: flex;
      justify-content: space-around;
      padding: 1px 0;
      border-top: 1px solid #ccc;
    }

    .nav-item {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
      cursor: pointer;
      padding: 5px;
      font-size: 13px;
      color: #333;
      transition: background-color 0.2s;
    }

    /* .nav-item:hover {
      background-color: rgba(0, 0, 0, 0.05);
    } */

    .nav-item.active {
      color: #1f3b5b;
      font-weight: 600;

    }

    .nav-icon {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 24px;
      height: 24px;
      font-size: 20px;
    }