* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f6f6f6;
  padding-bottom: 80px;
}

/* App Bar */
.app-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #1f3b5b;
  padding: 10px 14px;
  color: #fff;
   font-family: "Segoe UI", sans-serif;
}

.app-title {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
 
}

/* Scanner Card */
.scanner-card {
  font-family: "Roboto", sans-serif;
  margin: 16px;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #999;
  background: #e5e5e5;
}

/* Card Header */
.card-header {
  background: #1f3b5b;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
}

/* Body */
.scanner-body {
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

/* Scan Frame */
.scan-frame {
  position: relative;
  width: 220px;
  height: 220px;
}

.corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #222;
}

.tl {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.tr {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.bl {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.br {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* Scan Line */
.scan-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #444;
}

/* Button */
.scan-btn {
  background: #1f3b5b;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.scan-btn:active {
  transform: scale(0.97);
}

/* Class Box */
.class-box {
  width: 100%;
  background: #fff;
  padding: 26px;
  border-radius: 14px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

/* Bottom Navigation */
  .bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #eee;
      display: flex;
      justify-content: space-around;
      padding: 1px 0;
      border-top: 1px solid #ccc;
    }

    .nav-item {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
      cursor: pointer;
      padding: 5px;
      font-size: 13px;
      color: #333;
      transition: background-color 0.2s;
    }

    /* .nav-item:hover {
      background-color: rgba(0, 0, 0, 0.05);
    } */

    .nav-item.active {
      color: #1f3b5b;
      font-weight: 600;

    }

    .nav-icon {
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 24px;
      height: 24px;
      font-size: 20px;
    }